---
import Layout from '../layouts/Layout.astro';
import ElementComponent from '../components/ElementComponent.astro';
---

<Layout title="Tabla Periódica">
	<div class="logo w-screen md:w-[500px] md:h-[180px] md:ml-32  my-7 flex justify-start align-baseline">
		<img src="/logo.svg" class="logotipo w-full h-auto" alt="logotipo">
	</div>
	<main class=" w-[970px]	 md:ml-32 ml-5">
		<div class="periodic">
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='1'/>
				</div>
				<div class="cell"></div>
				<dv class="cell"></dv>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='2'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='3'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='4'/>
				</div>
				<div class="cell"></div>
				<dv class="cell"></dv>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='5''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='6'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='7'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='8'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='9'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='10'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='11''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='12'/>
				</div>
				<div class="cell"></div>
				<dv class="cell"></dv>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='13''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='14'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='15'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='16'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='17'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='18'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='19''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='20'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='21'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='22'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='23'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='24'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='25'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='26'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='27'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='28'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='29'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='30'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='31'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='32'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='33'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='34'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='35'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='36'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='37''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='38'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='39'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='40'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='41'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='42'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='43'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='44'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='45'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='46'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='47'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='48'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='49'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='50'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='51'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='52'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='53'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='54'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='55''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='56'/>
				</div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='72''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='73'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='74'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='75'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='76'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='77'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='78'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='79'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='80'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='81'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='82'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='83'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='84'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='85'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='86'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell">
					<ElementComponent atNum='87''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='88'/>
				</div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='104''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='105'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='106'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='107'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='108'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='109'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='110'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='111'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='112'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='113'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='114'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='115'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='116'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='117'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='118'/>
				</div>
			</div>
			<dv class="periodic-row"></dv>

			<div class="periodic-row">
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='57''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='58'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='59'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='60'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='61'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='62'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='63'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='64'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='65'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='66'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='67'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='68'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='69'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='70'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='71'/>
				</div>
			</div>
			<div class="periodic-row">
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell"></div>
				<div class="cell">
					<ElementComponent atNum='89''/>
				</div>
				<div class="cell">
					<ElementComponent atNum='90'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='91'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='92'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='93'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='94'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='95'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='96'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='97'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='98'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='99'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='100'/>
				</div>
				
				<div class="cell">
					<ElementComponent atNum='101'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='102'/>
				</div>
				<div class="cell">
					<ElementComponent atNum='103'/>
				</div>
			</div>
			<dv style="clear: both;"></dv>
		</div>
	</main>
</Layout>

<style is:global>
	.all{
		
	}
	.title{
		font-weight: bolder;
	}
	body {
    font-family: Arial;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

  }
  .periodic {
    position: relative;
    margin-right: -1px;
    text-shadow: none;
		height: 600px;
  }
  .periodic-row {
    clear: both;
    height: 10%;
	width: 100%;
  }
  .cell {
    position: relative;
    width: 5.55%;
    height: 100%;
		float: left;
		cursor: pointer;


}
.element {
	cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    box-sizing: border-box;
    
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: rgb(0, 128, 128,  0.5);
  }
  .cell:hover .element {
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    transform: scale(3, 3);
    z-index: 1;
    background-color: rgb(0, 128, 128);
  }
  .at_num,
  .at_details {
    position: absolute;
		line-height: 12px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  .at_num {
    top: 2px;
    right: 2px;
		
  }
  .symbol {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    
    font-size: 17px;
		font-weight: bold;
    line-height: 1;
    height: 9px;
    color: rgba(255, 255, 255, 0.9);
  }
  .at_details {
    bottom: 4px;
    left: 0px;
    right: 0px;
		font-size: 10px;
  }
  .cell:nth-child(-n + 2) .element,
  .cell:nth-child(n + 13) .element {
    background-color: rgb(0, 160, 96,  0.73);
  }
  .cell:nth-child(1) .element,
  .periodic-row:nth-child(2) .cell:nth-child(n + 14) .element,
  .periodic-row:nth-child(3) .cell:nth-child(n + 15) .element,
  .periodic-row:nth-child(4) .cell:nth-child(n + 16) .element,
  .periodic-row:nth-child(5) .cell:nth-child(n + 17) .element {
    background-color: rgba(0, 192, 64,  0.73);
  }
  .periodic-row:nth-child(-n + 6) .cell:nth-child(18) .element {
    background-color: rgba(64, 192, 0,  0.73);
  }
  .periodic-row:nth-child(n + 9) .element {
    background-color: rgba(0, 96, 160,  0.73);
  }
  .cell:nth-child(-n + 2):hover .element,
  .cell:nth-child(n + 13):hover .element {
    background-color: rgb(0, 160, 96);
  }
  .cell:nth-child(1):hover .element,
  .periodic-row:nth-child(2) .cell:nth-child(n + 14):hover .element,
  .periodic-row:nth-child(3) .cell:nth-child(n + 15):hover .element,
  .periodic-row:nth-child(4) .cell:nth-child(n + 16):hover .element,
  .periodic-row:nth-child(5) .cell:nth-child(n + 17):hover .element {
    background-color: rgba(0, 192, 64, 0.986);
  }
  .periodic-row:nth-child(-n + 6) .cell:nth-child(18):hover .element {
    background-color: rgb(64, 192, 0);
  }
  .periodic-row:nth-child(n + 9) .cell:hover .element {
    background-color: rgba(0, 96, 160, 0.986);
  }
  .cell:nth-child(1) .element {
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  .periodic-row:nth-child(10) .cell .element {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .periodic-row:nth-child(1) .cell:nth-child(1) .element {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .periodic-row:nth-child(1) .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  .periodic-row:nth-child(10) .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  @media (min-width: 600px) {
    .periodic {
      
      margin-right: -2px;
    }
    .element {
      right: 2px;
      bottom: 2px;
    }
    .at_num,
    .at_details {
      font-size: 10px;
      opacity: 1;
    }
    .symbol {
      margin-top: -10px;
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
      height: 30px;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.438);
    }
  }
  @media (min-width: 800px) {
    .periodic {
      height: 540px;
    }
    .symbol {
      font-size: 20px;
    }
  }
  @media (min-width: 992px) {
    .periodic {
      height: 680px;
    }

    .symbol {
			margin-top: -5px;
      font-size: 24px;
    }
  }
  @media (min-width: 1200px) {
    .periodic {
      height: 800px;
    }

    .symbol {
      font-size: 30px;
    }
  }
  
  
</style>

<script >
	const cells = document.querySelectorAll(".cell")
	cells.forEach(cell => {
		cell.addEventListener("click", (event) => {
			const cell = event.target as HTMLElement
			const atomicNumber = cell.querySelector(".at_num").innerHTML;
			console.log(atomicNumber)
      
			// window.location.href = `http://localhost:4321/${atomicNumber}`;
			window.location.href = `https://tabla-periodica-af.vercel.app/${atomicNumber}`;
		});
	});
</script>